@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
.App {
  text-align: center;
}
body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}
h1 {
  font-family: "Playwrite BE VLG", cursive;
}
p {
  color: var(--altFont);
}
